-----------------------------------------------------------------------
-                              Gitignore                              -
-----------------------------------------------------------------------

# Python tmp files
*.pyc

# Local packages to install fabric
fabric_install/
